In [1]:
def product_or_sum(a, b):
    if(a * b > 1000):
        return a + b
    return a * b

In [2]:
product_or_sum(2,3)

6

In [3]:
product_or_sum(100,200)

300

In [17]:
def display_character_at_even_index_number(string ,evenNumber):
    for character in string :
        if(evenNumber % 2 == 0):
            return string[evenNumber]
    return string

In [18]:
display_character_at_even_index_number(Toniafeds, 4)

NameError: name 'Toniafeds' is not defined

In [19]:
display_character_at_even_index_number("Toniafeds", 4)

'a'

In [67]:
def multiplication_table():
    for i in range(1, 11):
        for j in range(1, 11):
            print(f" {i} * {j} == {i * j}")
        print()

In [68]:
multiplication_table()

 1 * 1 == 1
 1 * 2 == 2
 1 * 3 == 3
 1 * 4 == 4
 1 * 5 == 5
 1 * 6 == 6
 1 * 7 == 7
 1 * 8 == 8
 1 * 9 == 9
 1 * 10 == 10

 2 * 1 == 2
 2 * 2 == 4
 2 * 3 == 6
 2 * 4 == 8
 2 * 5 == 10
 2 * 6 == 12
 2 * 7 == 14
 2 * 8 == 16
 2 * 9 == 18
 2 * 10 == 20

 3 * 1 == 3
 3 * 2 == 6
 3 * 3 == 9
 3 * 4 == 12
 3 * 5 == 15
 3 * 6 == 18
 3 * 7 == 21
 3 * 8 == 24
 3 * 9 == 27
 3 * 10 == 30

 4 * 1 == 4
 4 * 2 == 8
 4 * 3 == 12
 4 * 4 == 16
 4 * 5 == 20
 4 * 6 == 24
 4 * 7 == 28
 4 * 8 == 32
 4 * 9 == 36
 4 * 10 == 40

 5 * 1 == 5
 5 * 2 == 10
 5 * 3 == 15
 5 * 4 == 20
 5 * 5 == 25
 5 * 6 == 30
 5 * 7 == 35
 5 * 8 == 40
 5 * 9 == 45
 5 * 10 == 50

 6 * 1 == 6
 6 * 2 == 12
 6 * 3 == 18
 6 * 4 == 24
 6 * 5 == 30
 6 * 6 == 36
 6 * 7 == 42
 6 * 8 == 48
 6 * 9 == 54
 6 * 10 == 60

 7 * 1 == 7
 7 * 2 == 14
 7 * 3 == 21
 7 * 4 == 28
 7 * 5 == 35
 7 * 6 == 42
 7 * 7 == 49
 7 * 8 == 56
 7 * 9 == 63
 7 * 10 == 70

 8 * 1 == 8
 8 * 2 == 16
 8 * 3 == 24
 8 * 4 == 32
 8 * 5 == 40
 8 * 6 == 48
 8 * 7 == 56
 8 * 8 == 64
 8 * 9 == 72
 8 * 10 == 80

 9 * 1 == 9
 9 * 2 == 18
 9 * 3 == 27
 9 * 4 == 36
 9 * 5 == 45
 9 * 6 == 54
 9 * 7 == 63
 9 * 8 == 72
 9 * 9 == 81
 9 * 10 == 90

 10 * 1 == 10
 10 * 2 == 20
 10 * 3 == 30
 10 * 4 == 40
 10 * 5 == 50
 10 * 6 == 60
 10 * 7 == 70
 10 * 8 == 80
 10 * 9 == 90
 10 * 10 == 100

In [74]:
def exponent(base, exp):
    return base ** exp

In [75]:
exponent(2,3)

8

In [85]:
def reverse_list(list):
    for i in range(len(list)):
        reversed_list = list[::-1]
        return reversed_list

In [86]:
reverse_list([2, 3, 4, "Tom", True, 99])

[99, True, 'Tom', 4, 3, 2]

In [106]:
def find_value_in_list(list):
    for i in range(len(list)):
        if(list[i] == 20):
            list[i] = 200
            break
    print(list)

In [107]:
find_value_in_list([1,2,3,4,20,4,5,20])

[1, 2, 3, 4, 200, 4, 5, 20]

In [ ]:
def prime_numbers(rangeNumber):
    for i in range(len(rangeNumber)):
        if()

In [112]:
def calculation(first, second):
    add = first + second
    subtract = first - second
    return (add, subtract)

In [113]:
calculation(2,5)

(7, -3)

In [118]:
for i in range(-10,0):
    print (i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [134]:
def loop_iteration(list):
    for i in range(len(list)):
        if i > 150:
            break
        if i % 5 == 0:
            print(i)

In [135]:
loop_iteration([1,4,10,18,15,100,200])

0
5

In [ ]:
for i in range